/* Flight */
.flight-widget {
  --widget-padding: 6px;
  --panel-radius: calc(var(--widget-outer-radius) - var(--widget-padding));
  --panel-padding: 8px;
  --info-column-width: 52px;
  --info-row-height: 48px;
  --details-row-height: 38px;
  --wing-width: 225px;
  --wing-height: 38px;
  --detail-gap: 2px;

  background: linear-gradient(#a9cdf1 0%, #e4f1fb 48%, #efaac6 100%);
  font-family: Helvetica, Arial, sans-serif;
  
  display: flex;
  flex-direction: column;
  padding: var(--widget-padding);
}

.sky {
  flex: 1;
  position: relative;
}

.wing {
  position: absolute;
  left: calc(var(--widget-padding) * -1 - 24px);
  top: 64px;
  width: var(--wing-width);
  height: var(--wing-height);
  background: linear-gradient(170deg, #6280b3, #d6e4f3 55%, #d4909d);
  clip-path: polygon(0 46%, 100% 0, 86% 40%, 22% 100%, 0 80%);
}

.boarding-card {
  border-radius: var(--panel-radius);
  corner-shape: squircle;
  background: #fff;
  padding: var(--panel-padding);
  box-shadow: 0 0 24px #0000002e;
  
  display: flex;
  flex-direction: column;
  gap: var(--panel-padding);
}

.flight-main {
  height: var(--info-row-height);
  display: grid;
  grid-template-columns: var(--info-column-width) 1fr var(--info-column-width);
  align-items: center;
}

.flight-main>div {
  display: flex;
  flex-direction: column;
}

.flight-main>div:first-child {
  padding-left: 8px;
}

.flight-main>div:last-child {
  text-align: right;
  padding-right: 8px;
}

.flight-main small,
.flight-details small {
  color: #b3b3b3;
  font-size: 10px;
  line-height: 10px;
}

.flight-main strong {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.flight-main span {
  font-size: 10px;
  line-height: 10px;
}

.flight-path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8e9296;
  font-size: 12px;
}

.flight-path .path-visual {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flight-path small {
  text-align: center;
  margin-top: 4px;
}

.flight-details {
  height: var(--details-row-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #f3f3f3;
  border: var(--widget-border-thin) solid #e5e5e5;
  border-radius: var(--widget-pill-radius);
  corner-shape: round;
  padding: var(--panel-padding) 14px;
  align-items: center;
}

.flight-details span {
  display: flex;
  flex-direction: column;
  border-right: var(--widget-border-thin) solid #ddd;
  font-size: 10px;
  line-height: 10px;
  gap: var(--detail-gap);
  padding-left: 8px;
}

.flight-details span:first-child {
  padding-left: 0;
}

.flight-details span:last-child {
  border: 0;
  padding-left: 8px;
}
